In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing
import datetime

In [2]:
data = fetch_california_housing(as_frame=True)
housing_data = data.frame
housing_data = housing_data.sample(frac=0.05)

In [3]:
housing_data.shape

(1032, 9)

In [4]:
housing_data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
14124,1.5029,20.0,3.592381,1.116190,1134.0,2.160000,32.75,-117.08,1.000
16154,3.5865,52.0,5.650485,1.186408,1508.0,2.928155,37.78,-122.48,3.114
12911,6.2440,31.0,6.828947,0.942982,1121.0,2.458333,38.62,-121.31,2.400
19404,2.4211,22.0,5.046512,1.034884,195.0,2.267442,37.71,-120.98,2.688
15483,2.3062,15.0,4.930876,0.958525,470.0,2.165899,33.14,-117.15,1.589

In [5]:
housing_data.shape

(1032, 9)

In [6]:
housing_data.to_csv('data/raw/housing_data_raw.csv', encoding = 'utf-8-sig', index = False)

In [7]:
housing_data.rename(columns={'MedHouseVal': 'target'}, inplace=True)
housing_data['prediction'] = housing_data['target'].values + np.random.normal(0, 5, housing_data.shape[0])

In [8]:
housing_data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target,prediction
14124,1.5029,20.0,3.592381,1.116190,1134.0,2.160000,32.75,-117.08,1.000,3.695239
16154,3.5865,52.0,5.650485,1.186408,1508.0,2.928155,37.78,-122.48,3.114,5.627609
12911,6.2440,31.0,6.828947,0.942982,1121.0,2.458333,38.62,-121.31,2.400,1.104713
19404,2.4211,22.0,5.046512,1.034884,195.0,2.267442,37.71,-120.98,2.688,-2.662584
15483,2.3062,15.0,4.930876,0.958525,470.0,2.165899,33.14,-117.15,1.589,-1.445948

In [9]:
housing_data.to_csv('data/transform/housing_data_clean.csv', encoding = 'utf-8-sig', index = False)

In [10]:
housing_data.shape

(1032, 10)