In [22]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing
import datetime

In [23]:
data = fetch_california_housing(as_frame=True)
housing_data = data.frame
housing_data = housing_data.sample(frac=0.05)

In [24]:
housing_data.shape

(1032, 9)

In [25]:
housing_data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
4619,2.2364,28.0,2.642058,1.061521,2759.0,3.086130,34.07,-118.31,3.056
4487,1.6667,46.0,3.445902,0.990164,1435.0,4.704918,34.05,-118.19,1.336
13007,4.3625,29.0,6.247126,1.000000,430.0,2.471264,38.67,-121.28,1.588
8525,4.1953,39.0,5.266106,1.011204,982.0,2.750700,33.89,-118.33,2.269
12479,1.0313,20.0,2.436842,0.947368,486.0,2.557895,38.59,-121.49,0.850

In [26]:
housing_data.to_csv('data/raw/housing_data_raw.csv', encoding = 'utf-8-sig', index = False)

In [27]:
housing_data.rename(columns={'MedHouseVal': 'target'}, inplace=True)
housing_data['prediction'] = housing_data['target'].values + np.random.normal(0, 5, housing_data.shape[0])

In [28]:
housing_data.to_csv('data/transform/housing_data_clean.csv', encoding = 'utf-8-sig', index = False)